
html{
 box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  /* color: #142E30; */
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 2px;
}

.fa-solid, .fa-regular {
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: #0b1718;
}

h2{
  font-weight: 700;
}

p {
  color: #F4E3D9;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

hr {
  margin: 70px auto;
  width: 100px;
}

@media (max-width: 1000px) {
  hr {
    margin: 20px auto;
  }
}

@media (max-width: 1000px) {
  p {
    color: #C4C4C4;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.08em;
    font-weight: 400;
  }
}

#myWork .nav-link {
  color: #F89E76;
  margin-top: 17px;
}

.nav-item {
  margin-left: 7px;
}

.logo {
  margin-top: 6.5px;
}

/* all ids styling and general container styling */
#heroBody {
  padding: 20px 0 35px 0;
  /* background: linear-gradient(180deg, #789395 0%, #3E6A6D 100%); */
}

#myWorkPort {
  padding-top: 2%;
  padding-bottom: 2%;
  background: linear-gradient(180.37deg, #C3D5D2 83.09%, #FFFFFF 142.65%);
}

@media (max-width: 1000px) {
  #myWorkPort {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.backgroundgrad {
  background: linear-gradient(359.66deg, #C3D5D2 3.35%, #528286 75.69%);
}

.container-fluid {
  /* margin: 0 16%; */
  padding: 0% 15%;
}

/* headings  and text styling */
.hiremeBut {
  width: 228px;
  height: 60px;
  left: 269px;
  top: 534px;
  background: linear-gradient(180deg, #E3713E 0%, rgba(238, 108, 14, 0.5) 196.09%);
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50px;
  border: none;
  filter: blur(0.8px);
  transition: all 0.2s;
}

.hiremeBut:hover {
  background-color: #E3F8F3;
  filter: blur(0);
}

@media (max-width: 500px) {
  .hiremeBut {
    margin: 8px 0 10px 0;
    text-align: center;
    width: 100%;
    text-align: center;
  }
}

.contactMe {
  color: #F89E76;
  width: 210px;
  height: 62px;
  left: 269px;
  top: 534px;
  background: linear-gradient(180deg, #FDF0EB 0%, rgba(245, 224, 209, 0.5) 196.09%);
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50px;
  border: none;
  filter: blur(0.8px);
  transition: all 200ms;
}

.contactMe:hover {
  filter: blur(0);
}

@media (max-width: 500px) {
  .contactMe {
    margin: 8px 0 10px 0;
    text-align: center;
    width: 100%;
    text-align: center;
  }
}

.textitem {
  margin-bottom: 40px;
}

@media (max-width: 1000px) {
  .textitem {
    margin-bottom: 10px;
  }
}

.herotext {
  color: #E4B695;
  font-weight: 900;
 line-height: 55px;
}

@media (max-width: 1000px) {
  .herotext {
    padding-top: 20%;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
  }
}

.heroMaintext {
  text-align: left;
}

.heroMaintext:first-child {
  align-self: center;
}

.PorttextFiledflex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

@media (max-width: 1000px) {
  .PorttextFiledflex {
    flex-direction: column;
    margin-bottom: 64px;
  }
}

.rightfleximg {
  width: 35vw;
  height: 54vh;
}

@media (max-width: 1000px) {
  .rightfleximg {
    width: 100%;
    height: 100%;
  }
}

.workimg {
  width: 100%;
  height: 100%;
}

.leftflex {
  width: 35vw;
  padding: 2%;
}

@media (max-width: 1000px) {
  .leftflex {
    width: 100%;
    padding: 2%;
    text-align: center;
  }
}

/* .leftflex:first-child{
  align-self: center;
} */
.spanElement {
  margin: 20px 0;
}

.span1 {
  background-color: #EAE8F8;
  margin-right: 10px;
}

.span2 {
  background-color: #E8D4D5;
  margin-right: 10px;
}

.span3 {
  background-color: #E8D4D5;
  margin-right: 10px;
}

.span4 {
  background-color: #E8D4D5;
  margin-right: 10px;
}

.workBut {
  padding: 13px 44px;
  gap: 12px;
  width: 251px;
  height: 62px;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  border: none;
}

@media (max-width: 1000px) {
  .workBut {
    margin-bottom: 10px;
  }
}

.butgrad1 {
  background: linear-gradient(180deg, rgba(103, 78, 244, 0.2) 0%, #E8E7EC 196.09%);
}

.butgrad2 {
  background: linear-gradient(180deg, #F3D6D7 0%, #E1A3A3 196.09%);
}

.portheading {
  margin: 30px 0 64px 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: rgba(20, 46, 48, 0.2);
}

.workparagraph {
  color: #142E30;
}

#testimonials {
  position: relative;
  width: 100vw;
  height: 100%;
  padding: 50px 50px 20px 0;
  background: linear-gradient(180deg, #D4E1DF 0%, #EDF2F1 100%);
}

@media (max-width: 1000px) {
  #testimonials {
    width: 100%;
    padding: 20px 10px
  }
}

.flexcontrolfortestimonial {
  display: flex;
}

@media (max-width: 1000px) {
  .flexcontrolfortestimonial {
    flex-direction: column;
  }
}

.testimonialsimg {
  width: 1500px;
  height: 750px;
  z-index: 3;
}

@media (max-width: 1000px) {
  .testimonialsimg {
    width: 330px;
    height: 220px;
    z-index: 0;
  }
}

.contentfortestimonials {
  padding-top: 40px;
  width: 50%;
  height: 1000px;
  position: absolute;
  left: 50%;
  z-index: 6;
}

@media (max-width: 1000px) {
  .contentfortestimonials {
    position: static;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
  }
}
.testiedit{
  background-image: url("images/small\ vectorRec.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}



.samPicture2 {
  filter: grayscale(100);
  width: 100%;
  height: 100%;
  transition: all 500ms;
}

.samPicture2:hover {
  filter: grayscale(0);
}

.testipara {
  width: 80%;
  color: #142E30;
  font-style: italic;
  margin: 0;
}

@media (max-width: 1000px) {
  .testipara {
    width: 100%;
    text-align: left;
  }
}

.authorrating {
  margin-bottom: 50px;
}

/* what i do section */


.whatido {
  width: 100vw;
  height: 100%;
  padding: 5vh 15vw 15vh 15vw;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(178.44deg, #ECF2F1 19.44%, #528286 102.43%);
}

@media (max-width: 1000px) {
  .whatido {
    padding: 2vh 5vw 15vh 5vw;
  }
}

.whatidopara {
  color: #142E30;
  font-size: 0.8em;
}

.whatpeoplesay {
  color: #E3713E;
  text-align: left;
}

.ceoLa {
  color: black;
  font-weight: 400;
  font-size: 10px;
  margin: 0;
  margin-right: 10px;
}

.starating {
  width: 75px;
}

.whatidocontainer {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1000px) {
  .whatidocontainer {
    flex-direction: column;
  }
}

.firstbox {
  padding: 56px 24px;
  width: 40%;
  height: 100%;
  margin: 25px;
  background: #F7FBF7;
  box-shadow: 5px 4px 25px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  
}

@media (max-width: 1000px) {
  .firstbox {
    width: 100%;
    margin: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
  }
}

.fontawesomelogo {
  width: 30%;
}

@media (max-width: 1000px) {
  .fontawesomelogo {
    width: auto;
  }
}

.designtext {
  margin-bottom: 50px;
}

.whatidoh1 {
  margin-bottom: 5%;
  border-top: 1px solid #528286;
  border-bottom: 1px solid #528286;
  display: inline-block ;
}

.toolslogo {
  margin: 100px auto 32px auto;
  width: 50%
}

.toolsvg {
  width: 100%;
  height: 100%;
}

.ctabut {
  padding: 16px 32px;
  gap: 16px;
  width: 348px;
  height: 62px;
  background: linear-gradient(180deg, #F7FCFC 0%, #FEFFFF 196.09%);
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

@media (max-width: 1000px) {
  .ctabut {
    width: 100%;
  }
}

.ctah1, .ctapara {
  margin-bottom: 30px;
}

.ctah1 {
  color: #142E30;
  
  font-weight: 700;
  font-size: 70px;
}
@media (max-width: 1000px) {
  .ctah1 {
    font-size: 45px;
  }
}

footer {
  background-color: #F5EAEA;
  text-align: center;
  padding: 10px 10px;
}

.copyright {
  color: #142E30;
  font-size: 10px;
}

/* HERO SECTION STYPling */
.heroimgdiv {
  width: 100%;
  height: 100%;
}

.herodiv {
  display: flex;
  justify-content: space-between;
}

.heroimg {
  filter: drop-shadow(5px 7px 10px rgba(0, 0, 0, 0.3));
  width: 100%;
  height: 100%;
}






/* form styling */

.containerform{

  margin: 70px auto 20px auto;
  padding: 20px 20px 25px 20px;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d6e5e4;
  border-radius: 10px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4)

}

@media (max-width: 1000px) {
  .containerform {
    width: 100%;
    padding: 10px;


  }
}





 form{
   width: 90%;
 }
 .form-group {
   height: 65px;
   text-align: left;
 }

 label{
   position: relative;
   bottom: 3px;
 }

 input{
   width: 100%;
   height: 34px;
   padding: 5px;
   border: 1px solid black;
   border-radius: 5px;
   outline: none;
   box-sizing: border-box;
   transition: all 0.3s;
 }
 input:valid{
   border: 1px solid rgb(72, 134, 72);
 }
 input:invalid{
   border: 1px solid rgb(159, 100, 100);
 }

.submitbut{
  cursor: pointer;
  color: white;
  letter-spacing: 2px;
  background-color: #E47946;
  border-radius: 50px;
  border: none;
  height: 62px;
transition: all 0.2s;
  width: 100%;
}
.submitbut:hover{
  filter: brightness(200%);
  background-color: #664b3e;
}

.submitbut:focus{
  outline: none;
}

.message-container{
  border: 1px solid black;
  padding: 10px 0;
  border-radius: 5px;
  width: 90%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #142E30;
  font-size: 14px;
}









@media only screen and (max-width: 1000px) {
  .herotext {
    padding-top: 8px;
  }
}

@media (max-width:1000px) {
  #heroBody {
    padding: 20px 0 15px 0;
  }

  .heroimg {
    height: auto;
    width: 100%;
    padding: 2%;
  }
}

@media (max-width: 1000px) {
  .container-fluid {
    padding: 3% 5%;
  }
}


.maincontentcontainer{
  padding: 5% 13%;
  background-color: #528286;
  text-align: center;
}
@media (max-width: 1000px) {
  .maincontentcontainer {
    padding: 3% 5%;
  }
}

.navcontentbg{
  background-color: #528286;
}


.maincontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.maincontentPara{
  font-family: 'Nunito Sans',sans-serif;
  font-weight: 400;
  width: 40%;
  margin-bottom: 5%;
  color: #0b1718;
  text-align: center;
}

@media (max-width: 1000px) {
  .maincontentPara {
    width: 100%;
  }
}


.maincontenth1{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 61px;
  letter-spacing: 2px;
  margin: 50px auto 30px auto;
}

@media (max-width: 1000px) {
  .maincontenth1 {
font-size: 45px;
  }
}

.mainimgdiv{
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4)
}

.mainimg{
  width: 100%;
  height: 100%;
}

.connects{
  margin: auto;
  width: 200px;
}

.connectlogo{
  width: 100%;
}

.webflowlink{
  margin-bottom: 10%;
  font-size: 1.5em;
}
.webflowlink:hover{
  color: #142E30
}